<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Favourites</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <!-- External CSS do we need any? -->

    <!-- App CSS is this accurate? -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <!-- External JS do we need any scripts referenced? -->

    <!-- App JS do we need any scripts referenced? -->

  </head>

  <body>
    <!-- Page-specific content here all needs to be changed -->
    <main>
      <section>

        <form method="GET" action="/listings/<%= listings %>"><button type="submit">Edit</button></form>
        <form method="GET" action="/listings/<%= listing.id %>"><button type="submit">Edit</button></form>
        <form method="POST" action="/messages/<%= listing.id %>"><button type="submit">Message Seller</button></form>
        <form method="POST" action="/favourites/<%= listing.id %>/delete"><button type="submit" class="btn btn-danger">Unfavourite</button></form>

      </section>
    </main>
  </body>
</html>

