<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Fun Company - Home Page</title>

    <!-- External CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"></link>


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

    <link rel="stylesheet" href="/styles/photos.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- External CSS For Emojis -->
    <script src="https://kit.fontawesome.com/e679ba36cc.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Top nav bar -->
      <nav class="navbar-top">
      <a href="/"><span class="buttons-home"><i class="fas fa-home"></i></span></a>
      <span class="navbar-top-brand"> <h1 style="padding-left: 280px;">                  THE FUN COMPANY</h1></span>
      <form style= "padding-left: 130px;">
      <input type="text" placeholder="Search (For example: Tank)">
      <span class="buttons-search"><i class="fas fa-search"></i></span>
      </form>
      <div class="navbar-top-menu">
      </div>
    </nav>
    <!-- End of nav bar -->
      <div>
        <table>
  <tr>
  </tr>
  <tr>
    <td>
    <div class="flamecontainer"><img class="flame" src="https://images.squarespace-cdn.com/content/v1/6063b0835f68896079d7d643/1618425975918-D02ZFS5XVG11OF7QO7YM/9af6c204fe596ec3bfe3cdeeb7294f56.jpg?format=2500whttps://images.squarespace-cdn.com/content/v1/6063b0835f68896079d7d643/1618425975918-D02ZFS5XVG11OF7QO7YM/9af6c204fe596ec3bfe3cdeeb7294f56.jpg?format=2500whttps://images.squarespace-cdn.com/content/v1/6063b0835f68896079d7d643/1618425975918-D02ZFS5XVG11OF7QO7YM/9af6c204fe596ec3bfe3cdeeb7294f56.jpg?format=2500whttps://images.squarespace-cdn.com/content/v1/6063b0835f68896079d7d643/1618425975918-D02ZFS5XVG11OF7QO7YM/9af6c204fe596ec3bfe3cdeeb7294f56.jpg?format=2500whttps://images.squarespace-cdn.com/content/v1/6063b0835f68896079d7d643/1618425975918-D02ZFS5XVG11OF7QO7YM/9af6c204fe596ec3bfe3cdeeb7294f56.jpg?format=2500w" alt="flame"></img><h3 class="text1">You ever think to yourself, "You know, I think I'm going to buy a flamethrower"?</h3> <a href="/flamethrower"><h3 class="text2"><u>Now you have.</u></h3></a><h6 class="text3"> * TERMS AND CONDITIONS APPLY: All sales are final. No cash refund policy. No refund, exchange, or any monetary value will be given after the transaction has been completed. Realistically speaking we won't be able to ship this to you. The purchaser is expected to have conducted legal research in regards to purchase prior to transaction. We reserve the right to enforce a 10% restocking fee for invalid purchases based on the purchaser municipality, provincial/state, and country legislation. We are not responsible for any additional fees, duties, taxes, damages, and/or criminal charges that may come about from the usage of this item. Anyways, no one really reads these things. A million terms and conditions apply. Seriously. It's a freaking flamethrower, dude. Is this a reasonable purchase? The answer is yes, because it's on sale. Also, it's a flamethrower. Who wouldn't want to have one?</h6>
    </div>
    <span class="pointer" style="transform: rotate(325deg)"><i class="far fa-hand-pointer"></i></span>
    </th>
    </td>
  </tr>
</table>
      </div>

    <header>
    </header>
  </body>
</html>
