<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Fun Company - Home Page</title>

    <!-- External CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"></link>


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

    <link rel="stylesheet" href="/styles/photos.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- External CSS For Emojis -->
    <script src="https://kit.fontawesome.com/e679ba36cc.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Top nav bar -->
      <nav class="navbar-top">
      <a href="/"><span class="buttons-home"><i class="fas fa-home"></i></span></a>
      <span class="navbar-top-brand"> <h1 style="padding-left: 280px;">                  THE FUN COMPANY</h1></span>
      <form style= "padding-left: 130px;">
      <input type="text" placeholder="Search (For example: Tank)">
      <span class="buttons-search"><i class="fas fa-search"></i></span>
      </form>
      <div class="navbar-top-menu">
      </div>
    </nav>
    <!-- End of nav bar -->
      <div>
        <table>
  <tr>
  </tr>
