// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

/* Rule for laptops/desktops that also have minimum 1024 screen resolution */
@media screen and (min-width: 375px) {
  body {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
  }
} ;
