body {
  background: #ece5e5;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // min-height: 100vh;
}

.flame {
  position: absolute;
  display: flex;
  height: 100%;
  left: 0;
  top: 0;
}

.text1 {
  color: white;
  position: absolute;
  z-index: 100;
  top: 2em;
  left: 6em;
  font-size: xxx-large;
}

.text2 {
  color: #f6963d;
  position: absolute;
  z-index: 100;
  top: 6em;
  left: 15em;
  font-size: xxx-large;
}

.text3 {
  color: #f6963d;
  position: absolute;
  z-index: 100;
  top: 87em;
  left: 1em;
}

.text4 {
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: 100;
  top: 15em;
  left: 10em;
  font-size: xxx-large;
}

.text5 {
  color: rgb(23, 63, 23);
  position: absolute;
  z-index: 100;
  top: 800px;
  left: 21em;
  font-size: xxx-large;
}

.pointer {
  color: #f6963d;
  position: absolute;
  z-index: 100;
  top: 467px;
  left: 853px;
  font-size: 70px;
}

.pointer2 {
  color: #f6963d;
  position: absolute;
  z-index: 100;
  top: 973px;
  left: 1405px;
  font-size: 70px;
}

.flamecontainer {
  position: relative;
  width: 1752px;
  height: 1006px;
}
