body {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  background: #a1a1a1;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // min-height: 100vh;
}


