#h2t {
  color: black;
}

.container {
  padding: 25px;
  justify-content: center;
}

textarea {
  width: 75%;
}

#old-message
{
  border: 2px solid black;
}

.navbar-top {
  background-color: #000000;
  color: #ffffff;
  height: 85px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: auto;
  padding-left: 30px;
  top: 0;
}
